body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.blue{
	color:blue;
}

.des{
	color: red;
	font-size: 1.5em;
}

#examples{
	list-style: none;
}